#heart {
    padding-left: 5px;
    color: red;
}

#exit-icon {
    float: right;
    color: #83848f;
}

.wrapper {
    width: 800px;
    height: 600px;
    padding-left: 75px;
    padding-top: 100px;
    padding-right: 75px;
    padding-bottom: 100px;
    background-color: #f9cd8f;
}

.left-content-holder {
    display: inline-block;
    width: 305px;
    height: 401px;
    float: left;
    background-color: #484956;

}

.right-content-holder {
    display: inline-block;
    width: 345px;
    height: 401px;
    float: right;
    background-color: #fdfdfe;
}

.left-content {
    width: 219px;
    height: 308px;
    margin-top: 53px;
    margin-left: 43px;
    margin-bottom: 38px;
    margin-right: 43px;
}

.left-content h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 22px;
    color: white;
}

.styled-line {
    width: 38px;
    margin-left: 0px;
    border: 2px solid #f5755b;
    background-color: #f5755b;
}

.woman-img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
}

.photo-holder {
    height: 60px;
    margin-top: 180px;
}

.photo-holder p {
    display: inline-block;
}

.actress-first-name {
    display: inline-block;
    color: #e4e4e5;
    margin-left: 12px;
}

.actress-last-name {
    display: inline-block;
    color: #fdfdfd;
}

.right-content {
    width: 277px;
    height: 290px;
    margin-left: 35px;
    margin-bottom: 28px;
    margin-right: 32px;
    margin-top: 30px;
}

.bottom {
    width: 345px;
    height: 53px;
    background-color: white;
}

.end {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
}

.start {
    display: inline-block;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
}

.date {
    margin-right: 100px;
    display: inline;
    font-size: 11px;
    color: #898993;
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.bottom-holder {
    width: 280px;
    height: 30px;
    margin-left: 40px;
}

.large-letter {
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.content-holder {
    width: 650px;
    height: 401px;
    box-shadow: 0px 10px 18px #c4924d;
}