#circle {
    display: inline-block;
    margin-left: 39px;
    color: #58cad8;
    font-size: 7px;
}

#circle-pending {
    display: inline-block;
    margin-left: 39px;
    color: #ff8000;
    font-size: 7px;
}

.container {
    width: 800px;
    height: 600px;
    padding-top: 95px;
    padding-left: 60px;
    padding-bottom: 95px;
    padding-right: 65px;
    background-color: #f1f4f8;
}

.item-holder {
    padding-top: 55px;
    padding-left: 25px;
    padding-bottom: 55px;
    padding-right: 25px;
}

.item-container {
    display: -webkit-inline-box;
    width: 320px;
    height: 414px;
    margin-right: 35px;
    background-color: #ffffff;
}

.item {
    width: 320px;
    margin-right: 30px;
    padding: 20px;
    background-color: #ffffff;
}

.date-holder {
    font-size: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.count-accept {
    color: #58cad8;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 600px;
    letter-spacing: 1px;
}

.count-pending {
    color: #ff8000;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 600px;
    letter-spacing: 1px;
}

.count-completed {
    color: #58cad8;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 600px;
    letter-spacing: 1px;
}

.status {
    width: 63px;
    margin-left: 33px;
    color: #868695;
}

.statistic {
    display: inline-block;
}

.city-holder {
    color: #bebebe;
    font-style: italic;
}

.information-separator {
    border: 0.5px solid #eeeeee;
}

li {
    display: inline-block;
    width: 20px;
    height: 2px;
    color: #58cad8;
    font-size: 24px;
}

.upcomming-information-holder {
    margin-left: 36px;
    color: #c9c9c9;
}

.user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-count {
    display: inline;
    margin-left: 20px;
    color: #62cdda;
    font-size: 17px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}